.body{
    display: flex;
    justify-content: center;
}
.card_Produto{
    display: flex;
    justify-content: space-around;
    max-width: 1113px;
    height: 258px;
    flex-shrink: 0;
    margin: 42px;
    border-radius: 12px;
    background: #FFF;

    box-shadow: 3px 4px 16px 2px rgba(0, 63, 90, 0.25);
}
.div_texto{
    max-width: 697px;
    margin-left: 31px;
    margin-right: 27px;
}
.nome_produto{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.imagem_card{
    display: flex;
    justify-content: flex-end;
    width: 326px;
    height: 225px;
    flex-shrink: 0;
    margin: 16px 32px 16px 0px;
    background-color: #4BB174;
}
.descricao{
    display: flex;
    justify-content: center;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    width: 701px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 12px ;
    color: white;
    background: #4BB174;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.25);
}